In [1]:
#Q1
str='SANKET'
lst=[1,2,3,'Sanket']
flt=3.14
tpl=('DS','Python','SQL')

vrbl=['SANKET',[1,2,3,'Sanket'],3.14,('DS','Python','SQL')]

In [6]:
vrbl

['SANKET', [1, 2, 3, 'Sanket'], 3.14, ('DS', 'Python', 'SQL')]

In [15]:
#Q2
var1=''  #string
var2='[DS,ML,Python]'  #string
var3=['DS','ML','Python']   #List
var4=1  #integer

print(type(var1),type(var2),type(var3),type(var4))

<class 'str'> <class 'str'> <class 'list'> <class 'int'>

In [17]:
type(var3)

list

In [18]:
#Q3
#  /    division operator
#  %    modulus gives remainder after division -eg  11%3 = 2
# //    gives quotient portaion after division   eg 11//3 = 3
# **  exponent, power of    eg. 2**4,  two to the power 4,  2**4 = 16

In [1]:
#Q4
lst4=['SANKET',[1,2,3,'Sanket'],3.14,('DS','Python','SQL'),True,{'name':'Sanket','age':36},'ABC',220,False,10,'PQR']

In [2]:
lst4

['SANKET',
 [1, 2, 3, 'Sanket'],
 3.14,
 ('DS', 'Python', 'SQL'),
 True,
 {'name': 'Sanket', 'age': 36},
 'ABC',
 220,
 False,
 10,
 'PQR']

In [15]:
for i in lst4:
  #  print(" %s is %s "%(i,type(i)))
     print("{} is {}".format(i,type(i)))

SANKET is <class 'str'>
[1, 2, 3, 'Sanket'] is <class 'list'>
3.14 is <class 'float'>
('DS', 'Python', 'SQL') is <class 'tuple'>
True is <class 'bool'>
{'name': 'Sanket', 'age': 36} is <class 'dict'>
ABC is <class 'str'>
220 is <class 'int'>
False is <class 'bool'>
10 is <class 'int'>
PQR is <class 'str'>

In [ ]:
#Q5

A=40
B=5
cntr=0
i=A
while i>0:
    if i%B==0:
        i=i-B
        cntr+=1
    else:
        print ("{} is not purely divisable by {}".format(A,B))
        

print("{} is purely divisable by {} at {} many times".format(A,B,cntr))

In [32]:
#Q6

numlist=[]
for i in range(25):
    numlist.append(i)

print(numlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]

In [35]:
cnt=0
lst_divisible_by3=[]
for i in numlist:
    if i%3==0:
        cnt+=1
        lst_divisible_by3.append(i)
print("In total {} numbers are divisible by 3 from numlist and are as below {}".format(cnt,lst_divisible_by3))

In total 9 numbers are divisible by 3 from numlist and are as below [0, 3, 6, 9, 12, 15, 18, 21, 24]

In [37]:
"""
Mutable : variable for which value of its specific indexes can be changed.
Immutable : Variable for which values of indexes can not be changed.

In the "list "  we can update values at any index.
eg  lst  =[100,"abc",3.14]
lst[0]=500
lst will updated to  [500,"abc",3.14]

In the tuple we can not update values at any index
eg
tpl=(100,"abc",3.14)
tpl[0]='PQR' this will give error

"""

'\nMutable : variable for which value of its specific indexes can be changed.\nImmutable : Variable for which values of indexes can not be changed.\n\nIn the "list "  we can update values at any index.\neg  lst  =[100,"abc",3.14]\nlst[0]=500\nlst will updated to  [500,"abc",3.14]\n\n'

In [48]:
lst  =[100,"abc",3.14]
lst[0]='PQR'
lst

['PQR', 'abc', 3.14]

In [46]:
tpl=(100,"abc",3.14)
tpl[3]=500

TypeError: 'tuple' object does not support item assignment

In [ ]:

A=40
B=5
cntr=0
while A>0:
    if A%B==0:
        A-= (A/B)
        cntr+=1
        print(A)
    else:
        print ("{} is not purely divisable by {}".format(A,B))
        break

print("{} is purely divisable by {} at {} many times".format(A,B,cntr))